/* [project]/src/app/LienHe/styles.module.scss.module.css [app-client] (css) */
@keyframes styles-module-scss-module__EHEz_a__animatedBorder {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.styles-module-scss-module__EHEz_a__pageWrapper {
  max-width: 1200px;
  margin: 120px auto 20px;
  padding: 20px;
}

.styles-module-scss-module__EHEz_a__contactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Roboto, sans-serif;
  background: linear-gradient(135deg, #e0f7fa, #f9fbe7);
  border-radius: 20px;
  box-shadow: 0 8px 20px #0000001f;
  position: relative;
  overflow: hidden;
  transition: box-shadow .4s;
}

.styles-module-scss-module__EHEz_a__contactPage:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff1a;
  pointer-events: none;
}

.styles-module-scss-module__EHEz_a__contactPage:hover {
  box-shadow: 0 12px 30px #0000002e;
}

@media (width >= 768px) {
  .styles-module-scss-module__EHEz_a__contactPage {
    flex-direction: row;
    justify-content: space-around;
  }
}

.styles-module-scss-module__EHEz_a__contactInfo {
  width: 100%;
  padding: 50px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(45deg, #90ee9026, #ffffff0d);
  box-shadow: 0 5px 12px #0000001a;
  text-align: left;
  position: relative;
  overflow: hidden;
  transition: transform .4s, box-shadow .4s;
  margin-bottom: 20px;
}

.styles-module-scss-module__EHEz_a__contactInfo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #ffffff1a, #0000);
  opacity: .6;
  pointer-events: none;
}

.styles-module-scss-module__EHEz_a__contactInfo:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px #00000026;
}

.styles-module-scss-module__EHEz_a__contactInfo h2 {
  color: #43a047;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: .8px;
  text-shadow: 0 2px 4px #0000001a;
  animation: 1s styles-module-scss-module__EHEz_a__fadeIn;
}

.styles-module-scss-module__EHEz_a__contactInfo p, .styles-module-scss-module__EHEz_a__contactInfo a {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
  transition: color .4s, transform .3s;
  position: relative;
  padding-left: 25px;
}

.styles-module-scss-module__EHEz_a__contactInfo p i, .styles-module-scss-module__EHEz_a__contactInfo a i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: #43a047;
  text-shadow: 0 1px 2px #0000001a;
  transition: transform .3s;
}

.styles-module-scss-module__EHEz_a__contactInfo p:hover, .styles-module-scss-module__EHEz_a__contactInfo a:hover {
  color: #43a047;
  transform: translateX(5px);
}

.styles-module-scss-module__EHEz_a__contactInfo a {
  text-decoration: none;
  color: #1565c0;
  border-bottom: 2px solid #0000;
  transition: border-bottom .4s, color .4s, transform .3s;
  display: inline-block;
}

.styles-module-scss-module__EHEz_a__contactInfo a:hover {
  color: #43a047;
  border-bottom: 2px solid #1565c0;
  transform: scale(1.05);
}

@media (width >= 768px) {
  .styles-module-scss-module__EHEz_a__contactInfo {
    width: 45%;
    margin-bottom: 0;
  }
}

.styles-module-scss-module__EHEz_a__contactForm {
  width: 100%;
  padding: 50px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(45deg, #ffa07a1a, #ffffff0d);
  box-shadow: 0 5px 12px #0000001a;
  position: relative;
  overflow: hidden;
  transition: transform .4s, box-shadow .4s;
}

.styles-module-scss-module__EHEz_a__contactForm:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #ffffff1a, #0000);
  opacity: .6;
  pointer-events: none;
}

.styles-module-scss-module__EHEz_a__contactForm:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px #00000026;
}

.styles-module-scss-module__EHEz_a__contactForm h2 {
  color: #d84315;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: .8px;
  text-shadow: 0 2px 4px #0000001a;
  animation: 1s styles-module-scss-module__EHEz_a__fadeIn;
}

.styles-module-scss-module__EHEz_a__contactForm label {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #666;
  font-weight: 600;
  transition: color .3s;
  text-shadow: 0 1px 1px #00000014;
}

.styles-module-scss-module__EHEz_a__contactForm input[type="text"], .styles-module-scss-module__EHEz_a__contactForm input[type="email"], .styles-module-scss-module__EHEz_a__contactForm input[type="tel"], .styles-module-scss-module__EHEz_a__contactForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #f0f0f0;
  border-radius: 12px;
  font-size: 1rem;
  color: #444;
  transition: border-color .4s, box-shadow .4s;
  background-color: #ffffffb3;
  backdrop-filter: blur(5px);
  position: relative;
  overflow: hidden;
}

.styles-module-scss-module__EHEz_a__contactForm input[type="text"]:focus, .styles-module-scss-module__EHEz_a__contactForm input[type="email"]:focus, .styles-module-scss-module__EHEz_a__contactForm input[type="tel"]:focus, .styles-module-scss-module__EHEz_a__contactForm textarea:focus {
  outline: none;
  border-color: #1565c0;
  box-shadow: 0 0 10px #1565c04d;
}

.styles-module-scss-module__EHEz_a__contactForm input[type="text"]::placeholder, .styles-module-scss-module__EHEz_a__contactForm input[type="email"]::placeholder, .styles-module-scss-module__EHEz_a__contactForm input[type="tel"]::placeholder, .styles-module-scss-module__EHEz_a__contactForm textarea::placeholder {
  color: #888;
  font-style: italic;
  opacity: .8;
  transition: color .3s;
}

.styles-module-scss-module__EHEz_a__contactForm input[type="text"]:focus::placeholder, .styles-module-scss-module__EHEz_a__contactForm input[type="email"]:focus::placeholder, .styles-module-scss-module__EHEz_a__contactForm input[type="tel"]:focus::placeholder, .styles-module-scss-module__EHEz_a__contactForm textarea:focus::placeholder {
  color: #0000;
}

.styles-module-scss-module__EHEz_a__contactForm textarea {
  resize: vertical;
  min-height: 100px;
}

.styles-module-scss-module__EHEz_a__contactForm .styles-module-scss-module__EHEz_a__file-wrapper {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-radius: 10px;
  border: 2px dashed #888;
  background: #f0f0f0;
  transition: background .3s, color .3s, border-color .3s;
  overflow: hidden;
}

.styles-module-scss-module__EHEz_a__contactForm .styles-module-scss-module__EHEz_a__file-wrapper:hover {
  background: #1565c00d;
  border-color: #1565c0;
}

.styles-module-scss-module__EHEz_a__contactForm .styles-module-scss-module__EHEz_a__file-wrapper input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.styles-module-scss-module__EHEz_a__contactForm .styles-module-scss-module__EHEz_a__file-wrapper .styles-module-scss-module__EHEz_a__file-message {
  font-size: .9rem;
  color: #888;
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70%;
  transition: color .3s;
}

.styles-module-scss-module__EHEz_a__contactForm .styles-module-scss-module__EHEz_a__file-wrapper:hover .styles-module-scss-module__EHEz_a__file-message {
  color: #1565c0;
}

.styles-module-scss-module__EHEz_a__contactForm .styles-module-scss-module__EHEz_a__file-wrapper .styles-module-scss-module__EHEz_a__choose-file-button {
  font-size: .9rem;
  color: #1565c0;
  cursor: pointer;
  transition: transform .3s;
}

.styles-module-scss-module__EHEz_a__contactForm .styles-module-scss-module__EHEz_a__file-wrapper .styles-module-scss-module__EHEz_a__choose-file-button:hover {
  text-decoration: underline;
  transform: translateX(-2px);
}

.styles-module-scss-module__EHEz_a__contactForm button[type="submit"] {
  background: linear-gradient(to right, #1e88e5, #43a047);
  color: #fff;
  padding: 14px 60px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  transition: transform .3s, box-shadow .3s, color .3s;
  overflow: hidden;
  position: relative;
}

.styles-module-scss-module__EHEz_a__contactForm button[type="submit"]:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px #0000004d;
  color: #f0f0f0;
}

.styles-module-scss-module__EHEz_a__contactForm button[type="submit"]:active {
  transform: translateY(0);
  box-shadow: none;
}

@media (width >= 768px) {
  .styles-module-scss-module__EHEz_a__contactForm {
    width: 45%;
  }
}

/*# sourceMappingURL=src_app_LienHe_styles_module_scss_module_b52d8e.css.map*/