/* [project]/src/app/page.module.scss.module.css [app-client] (css) */
.page-module-scss-module__rcUngW__homeSliderContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 130px auto 10px;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: column;
}

@media (width >= 768px) {
  .page-module-scss-module__rcUngW__homeSliderContainer {
    flex-direction: row;
  }
}

.page-module-scss-module__rcUngW__carouselContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  height: 400px;
}

@media (width >= 768px) {
  .page-module-scss-module__rcUngW__carouselContainer {
    width: 70%;
    height: 400px;
  }
}

.page-module-scss-module__rcUngW__carouselContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-module-scss-module__rcUngW__carouselButtons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 10px;
  z-index: 10;
}

.page-module-scss-module__rcUngW__carouselButton {
  background-color: #00000080;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color .3s;
}

.page-module-scss-module__rcUngW__carouselButton:hover {
  background-color: #000c;
}

.page-module-scss-module__rcUngW__videoGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

@media (width >= 768px) {
  .page-module-scss-module__rcUngW__videoGrid {
    width: 30%;
  }
}

.page-module-scss-module__rcUngW__videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 8px;
}

.page-module-scss-module__rcUngW__videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.page-module-scss-module__rcUngW__hotsaleSection {
  background-image: url("/sale.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 4px 8px #0003;
}

.page-module-scss-module__rcUngW__hotsaleSection:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0006;
  z-index: 0;
  border-radius: inherit;
}

.page-module-scss-module__rcUngW__hotsaleSection > * {
  z-index: 1;
  position: relative;
}

.page-module-scss-module__rcUngW__hotsaleTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #4caf50;
  text-shadow: 1px 1px 2px #00000080;
}

.page-module-scss-module__rcUngW__countdownTimer {
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px #00000080;
}

.page-module-scss-module__rcUngW__countdownTimer span {
  font-weight: bold;
  color: #4caf50;
}

.page-module-scss-module__rcUngW__productListContainer {
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.page-module-scss-module__rcUngW__productList {
  display: flex;
  overflow-x: auto;
  padding-bottom: 15px;
  scroll-behavior: smooth;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page-module-scss-module__rcUngW__productList::-webkit-scrollbar {
  display: none;
}

.page-module-scss-module__rcUngW__productItem {
  width: 280px;
  border: 5px solid #000;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  background-color: #ca0c0cb3;
  position: relative;
  flex-shrink: 0;
  transition: transform .3s;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.page-module-scss-module__rcUngW__discountLabel {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #25e70f;
  color: #040404;
  padding: 5px;
  border-radius: 50px;
  font-size: 12px;
}

.page-module-scss-module__rcUngW__installmentLabel {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #2196f3;
  color: #000;
  padding: 5px;
  border-radius: 50px;
  font-size: 12px;
}

.page-module-scss-module__rcUngW__imageContainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.page-module-scss-module__rcUngW__imageContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.page-module-scss-module__rcUngW__productName {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
  text-overflow: ellipsis;
}

.page-module-scss-module__rcUngW__priceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.page-module-scss-module__rcUngW__discountedPrice {
  font-size: 16px;
  color: #fff;
  margin-right: 5px;
  font-weight: bold;
}

.page-module-scss-module__rcUngW__originalPrice {
  font-size: 12px;
  color: #4fcf0a;
  text-decoration: line-through;
}

.page-module-scss-module__rcUngW__description {
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px;
}

.page-module-scss-module__rcUngW__rating {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.page-module-scss-module__rcUngW__star {
  font-size: 18px;
  color: #ffc107;
  margin-right: 20px;
}

.page-module-scss-module__rcUngW__wishlist {
  text-align: center;
}

.page-module-scss-module__rcUngW__heartIcon {
  font-size: 24px;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
  transition: color .2s ease-in-out;
}

.page-module-scss-module__rcUngW__heartIcon:hover {
  color: #55ca07;
}

.page-module-scss-module__rcUngW__buttonContainer {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  transition: opacity .9s;
}

.page-module-scss-module__rcUngW__addToCartButton, .page-module-scss-module__rcUngW__buyNowButton {
  padding: 8px 12px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color .3s;
  font-size: 12px;
  width: 48%;
  box-sizing: border-box;
}

.page-module-scss-module__rcUngW__addToCartButton {
  background-color: #4caf50;
  color: #fff;
}

.page-module-scss-module__rcUngW__buyNowButton {
  background-color: #2196f3;
  color: #fff;
}

.page-module-scss-module__rcUngW__addToCartButton:hover {
  background-color: #3d8b40;
}

.page-module-scss-module__rcUngW__buyNowButton:hover {
  background-color: #0c7cd5;
}

.page-module-scss-module__rcUngW__productScrollButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #00000080;
  padding: 5px;
  z-index: 10;
  outline: none;
  transition: color .3s;
}

.page-module-scss-module__rcUngW__productScrollButton:hover {
  color: #000c;
}

.page-module-scss-module__rcUngW__productScrollButton:first-child {
  left: 0;
}

.page-module-scss-module__rcUngW__productScrollButton:last-child {
  right: 0;
}

@media (width <= 768px) {
  .page-module-scss-module__rcUngW__homeSliderContainer {
    flex-direction: column;
    align-items: center;
  }

  .page-module-scss-module__rcUngW__carouselContainer {
    width: 100%;
    max-width: none;
    height: 300px;
  }

  .page-module-scss-module__rcUngW__videoGrid {
    width: 100%;
  }

  .page-module-scss-module__rcUngW__productItem {
    width: 45%;
  }
}

@media (width <= 576px) {
  .page-module-scss-module__rcUngW__productItem {
    width: 100%;
  }
}

/*# sourceMappingURL=src_app_page_module_scss_module_b52d8e.css.map*/