.newsSection {
  max-width: 1200px;
  margin: 10px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
}

.newsHeader {
  display: flex;
  justify-content: space-between; /* Push items to opposite ends */
  align-items: center; /* Vertically align items */
  margin-bottom: 20px;
}

.newsSection h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 0; /* Remove default h2 margin */
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.newsItem {
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  a {
    text-decoration: none;
    color: inherit; /* Inherit color from parent (removes link styling) */
    display: block;
    height: 100%;
  }
}

.newsImageContainer {
  width: 100%;
  height: 150px; /* Set a fixed height */
  overflow: hidden; /* Clip the image to fit */
}

.newsImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsTitle {
  font-size: 1rem;
  padding: 10px;
  color: #333;
  margin: 0;
}

.viewAllButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
  text-decoration: none; /* Remove underline from Link */

  &:hover {
    background-color: #0056b3;
  }
}