// {/* Phần NÚT TRỞ VỀ VÀ HỖ TRỢ */}

.backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
  
    /* Style Image for backtotop */
    > div {
      position: unset !important;
    }
    > div > span {
      position: unset !important;
    }
    > div > span > img {
      position: relative !important;
      width: 30px !important;
      height: 30px !important;
    }
  }
  
  .supportButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(133, 112, 112, 0.5);
    color: rgb(110, 193, 21);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
    display: flex; /*  display */
    align-items: center;
    gap: 5px;
    font-size: 14px;
  
    /* Style image support */
    > div {
      position: unset !important;
    }
    > div > span {
      position: unset !important;
    }
    > div > span > img {
      position: relative !important;
      width: 30px !important;
      height: 30px !important;
    }
  }
  
  .supportOptions {
    position: fixed;
    bottom: 70px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 5px;
    display: none;
  
    &[style*="display: block"] {
      display: flex;
    }
  
    & > * {
      color: white;
      text-decoration: none;
    }
  }
  
  .closeSupportOptions {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
  
    &::before {
      content: "\00d7";
    }
  }

  // {/* Phần NÚT TRỞ VỀ VÀ HỖ TRỢ */}
