/* [project]/src/app/DangNhap/QuenMatKhau/styles.module.scss.module.css [app-client] (css) */
.styles-module-scss-module__Eew-MW__outside-container {
  background: url("/_next/static/media/imgDangNhap.5748a413.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.styles-module-scss-module__Eew-MW__login-container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px #000000e6;
  background-color: #fffc;
  text-align: center;
  position: relative;
}

.styles-module-scss-module__Eew-MW__login-container h1 {
  font-size: 1.8rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #0000001a;
}

.styles-module-scss-module__Eew-MW__social-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.styles-module-scss-module__Eew-MW__facebook-button, .styles-module-scss-module__Eew-MW__google-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  transition: background-color .3s;
}

.styles-module-scss-module__Eew-MW__facebook-button:hover, .styles-module-scss-module__Eew-MW__google-button:hover {
  background-image: linear-gradient(to right, #4267b2, #1877f2);
}

.styles-module-scss-module__Eew-MW__facebook-button img, .styles-module-scss-module__Eew-MW__google-button img {
  margin-right: 5px;
}

.styles-module-scss-module__Eew-MW__facebook-button {
  background-color: #1877f2;
}

.styles-module-scss-module__Eew-MW__google-button {
  background-color: #4285f4;
}

.styles-module-scss-module__Eew-MW__separator {
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  color: #aaa;
}

.styles-module-scss-module__Eew-MW__separator:before, .styles-module-scss-module__Eew-MW__separator:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #ddd;
  transform: translateY(-50%);
}

.styles-module-scss-module__Eew-MW__separator:before {
  left: 0;
}

.styles-module-scss-module__Eew-MW__separator:after {
  right: 0;
}

.styles-module-scss-module__Eew-MW__login-form {
  text-align: left;
}

.styles-module-scss-module__Eew-MW__form-group {
  position: relative;
  margin-bottom: 15px;
}

.styles-module-scss-module__Eew-MW__form-group label {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #999;
  font-size: .9rem;
  pointer-events: none;
  transition: all .2s;
  background-color: #0000;
  padding: 0;
}

.styles-module-scss-module__Eew-MW__form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.styles-module-scss-module__Eew-MW__form-group input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff33;
}

.styles-module-scss-module__Eew-MW__form-group input:focus ~ label {
  top: -8px;
  font-size: .7rem;
  color: #007bff;
  background-color: #fff;
  padding: 0 5px;
  border-left: 1px solid #007bff;
  border-right: 1px solid #007bff;
}

.styles-module-scss-module__Eew-MW__form-group input:not(:placeholder-shown):valid ~ label, .styles-module-scss-module__Eew-MW__form-group input:not(:placeholder-shown):invalid ~ label {
  top: -8px;
  font-size: .7rem;
  color: #007bff;
  background-color: #fff;
  padding: 0 5px;
  border-left: 1px solid #007bff;
  border-right: 1px solid #007bff;
}

.styles-module-scss-module__Eew-MW__remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #777;
}

.styles-module-scss-module__Eew-MW__remember-me input {
  margin-right: 5px;
}

.styles-module-scss-module__Eew-MW__button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.styles-module-scss-module__Eew-MW__register-button {
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;
  border: 2px solid;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #34a853;
  border-color: #34a853;
}

.styles-module-scss-module__Eew-MW__register-button:hover {
  background-color: #34a853;
  color: #fff;
}

.styles-module-scss-module__Eew-MW__login-button {
  color: #007bff;
  border-color: #007bff;
}

.styles-module-scss-module__Eew-MW__login-button:hover {
  background-color: #007bff;
  color: #fff;
}

.styles-module-scss-module__Eew-MW__forgot-password {
  text-align: center;
  margin-top: 15px;
}

.styles-module-scss-module__Eew-MW__forgot-password a {
  color: #007bff;
  text-decoration: none;
}

.styles-module-scss-module__Eew-MW__forgot-password a:hover {
  text-decoration: underline;
}

.styles-module-scss-module__Eew-MW__back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #555;
  text-decoration: none;
  font-size: .875rem;
  display: flex;
  align-items: center;
  transition: color .2s;
}

.styles-module-scss-module__Eew-MW__back-button:hover {
  color: #222;
}

.styles-module-scss-module__Eew-MW__back-button .styles-module-scss-module__Eew-MW__arrow {
  color: #34a853;
  margin-right: .25rem;
}

.styles-module-scss-module__Eew-MW__auth-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.styles-module-scss-module__Eew-MW__auth-links a {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;
  border: 2px solid;
  text-align: center;
}


/*# sourceMappingURL=src_app_DangNhap_QuenMatKhau_styles_module_scss_module_8046cf.css.map*/
